html,
body,
#root {
  height: 100%;
  margin: 0;
  background: black;
}

.canvas-container {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
}

.controls-container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.arrow-button {
  border: 1px white solid;
}

.arrow-button:hover {
  background: grey;
}

.turn-right {
  transform: scaleX(-1);
}

.left {
  transform: rotateZ(-90deg);
}

.right {
  transform: rotateZ(90deg);
}

.down {
  transform: rotateZ(180deg);
}

@media screen and (min-width: 450px) {
  .controls-container {
    width: 50%;
    height: 50vh;
  }
  .canvas-container {
    width: 50%;
  }
}

.image-container {
  overflow: hidden;
  object-fit: contain;
}

.image-container img {
  width: 100%;
}
